.link {
  display: inline-block;
  color: #000;
  padding: 2px;
  cursor: pointer;
  border-width: 1px;
  border-style: ridge;
  text-decoration: none;

  &.loading {
    border-color: #808080;
  }

  &.loaded {
    border-color: #00ff00;
  }

  &.errored {
    border-color: #8b0000;
  }
}
